In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine

In [7]:
df=pd.read_csv("../resources/africa_disp_events.csv")

In [8]:
df.head()

,Country_Code,Country,Year,Start_Date,Event_Name,Hazard_Category,Hazard_Type,New_Displacements,Country_2D,Continent,Population
0,AGO,Angola,2013,3/20/2013,Luanda floods,Weather related,Flood,2450.0,AO,AF,26015780
1,AGO,Angola,2015,3/28/2015,Cuanza Sul flood,Weather related,Flood,483.0,AO,AF,27884381
2,AGO,Angola,2015,3/9/2015,Luanda flash floods,Weather related,Flood,3920.0,AO,AF,27884381
3,AGO,Angola,2015,3/11/2015,Lobito flash flood,Weather related,Flood,1192.0,AO,AF,27884381
4,AGO,Angola,2016,1/1/2016,Rainy season floods,Weather related,Flood,19103.0,AO,AF,28842484

In [9]:
# Create Postgres Engine
engine = create_engine ('postgres://postgres:postgres@localhost:5432/africa_disaster_displacements')

In [11]:
df.to_sql ('africa_disaster_displacements', con = engine, index_label = 'Africa_Migration_id')